absl-py==2.2.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
altair==5.2.0
annotated-types==0.7.0
asttokens==2.2.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
backcall==0.2.0
blinker==1.9.0
blis==0.7.11
bratiaa==0.1.4
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.1.31
chardet==3.0.4
click==8.1.8
cloudpathlib==0.16.0
comm==0.1.3
confection==0.1.5
contourpy==1.3.1
cycler==0.12.1
cymem==2.0.11
dataclass-wizard==0.22.3
datasets==2.17.0
de-dep-news-trf @ https://github.com/explosion/spacy-models/releases/download/de_dep_news_trf-3.4.0/de_dep_news_trf-3.4.0-py3-none-any.whl
debugpy==1.6.7
decorator==5.1.1
deprecation==2.1.0
dill==0.3.8
dkpro-cassis==0.7.6
exceptiongroup==1.2.2
executing==1.2.0
filelock==3.18.0
Flask==3.0.2
flatbuffers==25.2.10
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2023.10.0
fuzzywuzzy==0.18.0
gast==0.6.0
google-auth==2.38.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.13.0
huggingface-hub==0.29.3
idna==2.8
importlib-resources==5.4.0
iniconfig==2.1.0
ipykernel==6.23.2
ipython==8.14.0
itsdangerous==2.2.0
jedi==0.18.2
Jinja2==3.1.6
joblib==1.4.2
jsonpickle==4.0.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.2.0
jupyter_core==5.3.1
keras==2.15.0
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
Levenshtein==0.25.0
libclang==18.1.1
llvmlite==0.42.0
lxml==4.9.2
marisa-trie==1.2.1
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.6
ml-dtypes==0.3.2
more-itertools==8.12.0
mpmath==1.3.0
multidict==6.2.0
multiprocess==0.70.16
munch==4.0.0
murmurhash==1.0.12
nest-asyncio==1.5.6
networkx==3.2.1
nltk==3.9.1
numba==0.59.0
numpy==1.26.4
oauthlib==3.2.2
opt_einsum==3.4.0
packaging==23.1
pandas==2.2.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==11.1.0
platformdirs==3.6.0
pluggy==1.5.0
podman-compose @ https://github.com/containers/podman-compose/archive/devel.tar.gz
preshed==3.0.9
prompt-toolkit==3.0.38
propcache==0.3.0
protobuf==4.25.6
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==19.0.1
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.15.1
pynndescent==0.5.13
pyparsing==3.2.1
pytest==8.3.5
python-dateutil==2.8.2
python-Levenshtein==0.25.0
pytz==2025.1
pyvis==0.3.2
PyYAML==6.0.1
pyzmq==25.1.0
RapidFuzz==3.12.2
referencing==0.36.2
regex==2024.11.6
requests==2.22.0
requests-oauthlib==2.0.0
rpds-py==0.23.1
rsa==4.9
safetensors==0.5.3
scikit-learn==1.6.1
scikit-network==0.31.0
scipy==1.11.4
sentence-transformers==2.3.1
sentencepiece==0.2.0
six==1.17.0
smart-open==6.4.0
sortedcontainers==2.4.0
spacy==3.7.4
spacy-alignments==0.9.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-lookups-data==1.0.5
spacy-transformers==1.3.4
srsly==2.5.1
stack-data==0.6.2
sympy==1.13.3
tabulate==0.9.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
thinc==8.2.5
threadpoolctl==3.6.0
tokenizers==0.15.2
tomli==2.2.1
toolz==1.0.0
toposort==1.7
tornado==6.3.2
tqdm==4.67.1
traitlets==5.9.0
transformers==4.36.2
typer==0.9.4
typing_extensions==4.12.2
tzdata==2025.1
umap-learn==0.5.2
urllib3==1.25.11
waiting==1.5.0
waitress==3.0.0
wasabi==1.1.3
wcwidth==0.2.6
weasel==0.3.4
Werkzeug==3.1.3
wrapt==1.14.1
xxhash==3.5.0
yarl==1.18.3
yellowbrick==1.5
